

<section class="answers">
    <div class="container">
        <div class="answers__designation">
            <div class="answers__designation-text">
                Результат прохождения теста
            </div>
            <div class="answers__img">
                <img src="/images/grey-arrow.png" alt="стрелка">
            </div>
            <div class="answers__designation-level" id="test-number">
                Тест №1. “JavaScript: Начальный уровень”
            </div>
        </div>

        <div class="answers__title big__title" id="title"><span>Правильные ответы </span>к тесту</div>
        <div class="answers__title-text" id="pre-title">Тест выполнил <span id="person-info">Роман Чернов, roman@itlogia.ru</span></div>

        <div class="answers__content" id="test-answers">
<!--            <div class="answers__main-title" id="question-title">
                        <span>Вопрос 1: </span> Тут должен быть текст вопроса?-->
<!--            </div>-->
<!--            <div class="answers__question-options">-->
<!--                <div class="answers__question-option">-->
<!--                    <input type="radio" id="answer-one" name="answer" class="answers__radio" disabled>-->
<!--                    <label for="answer-one">Вариант ответа 1</label>-->
<!--                </div>-->
<!--                <div class="answers__question-option">-->
<!--                    <input type="radio" id="answer-two" name="answer" class="answers__radio" disabled>-->
<!--                    <label for="answer-two">Вариант ответа 2</label>-->
<!--                </div>-->
<!--                <div class="answers__question-option">-->
<!--                    <input type="radio" id="answer-three" name="answer" class="answers__radio" disabled>-->
<!--                    <label for="answer-three">Вариант ответа 3</label>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="answers__back-result">
            <a id="back-result">Обратно к моему результату теста <img src="/images/skip-arrow.png" alt="back-arrow"></a>
        </div>
    </div>
</section>
