
<section class="test">
    <div class="container">
        <div class="test__designation" id="pre-title">Тест №1. “JavaScript: Начальный уровень”</div>
        <div class="test__progressbar" id="progress-bar">
        </div>
        <div class="test__question">
            <div class="test__title" id="title">
                <span>Вопрос 2:</span> Тут должен быть текст вопроса?
            </div>
            <div class="test__question-options" id="options">

            </div>
        </div>
        <div class="test__actions">
            <div class="test__button-previous">
                <button class="button button-transparent" id="prev" disabled >Назад</button>
            </div>
            <div class="test__time">
                <div class="test__time-text">Осталось времени:</div>
                <div class="test__time-clock" id="timer"></div>
            </div>

            <div class="test__button-next">
                <button class="button button-transparent" id="next" disabled >Далее</button>
            </div>
        </div>
        <div class="test__skip">
            <a href="javascript:void(0)" id="pass">Пропустить вопрос  <img src="/images/skip-arrow.png" alt="пропустить вопрос"> </a>
        </div>
    </div>
</section>
