
.main {
    padding-top: 190px;
    padding-bottom: 231px;
}
.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content {
    max-width: 588px;
}


.main__description {
    margin-top: 40px;
    max-width: 486px;
    font-size: 20px;
}

.main__button {
    margin-top: 60px;
}

